<!-- 

 <h2 style="color:red">{{errormes}}</h2>
<form [formGroup]="profileForm" (ngSubmit)="callServer()">

  <label for="first-name">Username: </label>
  <input id="username" type="text" formControlName="username"><br>

  <label for="last-name">Password: </label>
  <input id="pwd" type="text" formControlName="pwd"><br>

   <button type="submit">Here</button>
</form> -->

<div class="login-box">
  <h2 style="color:gainsboro;">Login</h2>
  <form [formGroup]="profileForm" (ngSubmit)="callServer()">
    <div class="user-box">
      <input id="username" type="text" formControlName="username"><br>
      <label>Username</label>
    </div>
    <div class="user-box">
      <input id="pwd" type="text" formControlName="pwd"><br>
      <label>Password</label>
    </div>
    <button type="submit">Login</button>

  </form>
</div>


